<!-- component -->
<div>
  <nav class="flex flex-col bg-zinc-800 w-64 h-screen px-4 tex-gray-900">
    <div class="mt-10 mb-4">
      <ul class="ml-4">
        <li *ngFor="let item of linksMenu" class="mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
          <a routerLinkActive="active" [routerLink]="item.url">
            <span class="ml-2">{{item.name}}</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
